h2{
    background-color: olive; 
}
h1{
    color: rgb(26, 26, 182);
}
h3{
    border: 3px solid red;
    border-radius: 20px;
}
h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
